@{
  ViewBag.Title = "Home Page";
}


<h2>The World</h2>
<p>the good site</p>

<form>
  <div>
    <label>Date</label>
    <input type="" value="" />
  </div>
  <div>
    <label>Location</label>
    <input type="" value="" />
  </div>
  <div>
    <input type="submit" value="Add" />
  </div>
</form>